@model Progetto_Meteo_Trentino.Views.ViewModels.PrevisioneLuogoView
@{
    ViewData["Title"] = "Dettagli Meteo";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container">
            <h2>Dettagli Meteo per @Model.localita</h2>
            <p>Quota: @Model.quota</p>
            <h3>Previsioni:</h3>
            <ul>
                @foreach (var giorno in Model.giorni ?? Enumerable.Empty<Giorno>())
                {
                    <li>
                        <h4>@giorno.giorno</h4>
                        <img src="@giorno.icona" alt="@giorno.descIcona" />
                        <p>@giorno.testoGiorno</p>
                        <p>Temperatura Minima: @giorno.tMinGiorno</p>
                        <p>Temperatura Massima: @giorno.tMaxGiorno</p>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">
            <form method="get" asp-controller="Meteo" asp-action="Index">
                <button type="submit" class="btn btn-success">Torna indietro</button>
            </form>

</body>
</html>
