@model Progetto_Meteo_Trentino.Views.ViewModels.PrevisioneLuogoView
@{
    ViewData["Title"] = "Dettagli Meteo";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container">
            <h2>Previsioni meteo per @Model.localita</h2>
            <p>Quota: @Model.quota</p>
            <h3>Previsioni:</h3>
            <ul>
                @foreach (var giorno in Model.giorni ?? Enumerable.Empty<Progetto_Meteo_Trentino.Models.Giorno>())
                {
                    <li>
                        <h4>@giorno.giorno</h4>
                        <img src="@giorno.icona" alt="@giorno.descIcona" />
                        <p>@giorno.descIcona</p>
                        <p>@giorno.testoGiorno</p>
                        <p>Temperatura Minima: @giorno.tMinGiorno</p>
                        <p>Temperatura Massima: @giorno.tMaxGiorno</p>
                        <h4>Fasce:</h4>
                        <ul>
                            @foreach (var fascia in giorno.fasce ?? Enumerable.Empty<Progetto_Meteo_Trentino.Models.Fasce>())
                            {
                                <li>
                                    
                                    <p>Fascia Per: @fascia.fasciaPer</p>
                                    <p>Fascia Ore: @fascia.fasciaOre</p>
                                    <img src="@fascia.icona" alt="@fascia.descIcona" />
                                    <p>@fascia.descIcona</p>
                                    <p>Probabilità Precipitazioni: @fascia.descPrecProb</p>
                                    <p>Intensità Precipitazioni: @fascia.descPrecInten</p>
                                    <p>Probabilità Temporali: @fascia.descTempProb</p>
                                    <p>Intensità Vento in Quota: @fascia.descVentoIntQuota</p>
                                    <p>Direzione Vento in Quota: @fascia.descVentoDirQuota</p>
                                    <p>Intensità Vento in Valle: @fascia.descVentoIntValle</p>
                                    <p>Direzione Vento in Valle: @fascia.descVentoDirValle</p>
                                    <img src ="@fascia.iconaVentoQuota" />
                                    <p>Zero Termico: @fascia.zeroTermico</p>
                                    <p>Limite Nevicate: @fascia.limiteNevicate</p>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <form method="get" asp-controller="Meteo" asp-action="Index">
                <button type="submit" class="btn btn-success">Torna indietro</button>
            </form>
        </div>
    </div>
</body>
</html>